
<div class="container">
    <div class="device-info">
        <h1>{{device._id}}</h1>
        <p timer ng-show="device.occupied" start-time="device.occupiedSince" class="">
            {{minutes}} minutes, {{seconds}} seconds
        </p>

        <i ng-show="device.occupied" class="fa fa-exclamation-circle"></i>
        <i ng-hide="device.occupied" class="fa fa-check-circle"></i>


        <hr>

        history


        <hr>

        <h3>Subscribe to get email updates</h3>

        <form class="form-inline">
            <div class="form-group">
                <label>Email</label>
                <input type="email" ng-model="subscribeEmail" class="form-control" placeholder="jane.doe@example.com">
            </div>
            <button type="submit" class="btn btn-default" ng-click="subscribeEmailToDevice()">Subscribe</button>
        </form>

    </div>
</div>

